@using digicard.Models.UI.View.Cards
@model CardViewModel

<div class="card-thumbnail card-skin-1">
    <h2>@Model.NameOnCard</h2>
    <p>
        T: <span>@Model.Landline</span>
    </p>
    <p>
        M: <span>@Model.Landline</span>
    </p>
    <p>
        E: <span>@Model.Email</span>
    </p>
    <p>
        Facebook: <span>@Model.Facebook</span>
    </p>
    <p>
        Twitter: <span>@Model.Twitter</span>
    </p>
    <p>
        Instagram: <span>@Model.Instagram</span>
    </p>
    <p>
        @Model.AddressLine1
        @Model.AddressLine2
        @Model.AddressLine3
        @Model.PostCode
        @Model.Country
    </p>
    <p>
        <a asp-controller="Cards" asp-action="Details" asp-route-id="@Model.CardId">View full details &raquo;</a>
    </p>
</div>
