@using digicard.Models.UI.Page.Cards
@model CardsDetailPageModel
@{
    if(!User.Identity.IsAuthenticated)
    {
        Layout = "/Views/Shared/_CardLayout.cshtml";
    }
}

@if(Model.Card == null || Model.Card.CardId == 0)
{
    <p class="alert alert-danger">NOPE GO AWAY</p>
}
else
{
    <div class="card-thumbnail card-skin-1">
        <h2>@Model.Card.NameOnCard</h2>
        <p>
            T: <span>@Model.Card.Landline</span>
        </p>
        <p>
            M: <span>@Model.Card.Landline</span>
        </p>
        <p>
            E: <span>@Model.Card.Email</span>
        </p>
        <p>
            Facebook: <span>@Model.Card.Facebook</span>
        </p>
        <p>
            Twitter: <span>@Model.Card.Twitter</span>
        </p>
        <p>
            Instagram: <span>@Model.Card.Instagram</span>
        </p>
        <p>
            @Model.Card.AddressLine1
            @Model.Card.AddressLine2
            @Model.Card.AddressLine3
            @Model.Card.PostCode
            @Model.Card.Country
        </p>
    </div>
}