@using digicard.Models.UI.Page.Cards
@using digicard.Models.UI.View.Cards
@model CardsIndexPageModel
@{
    ViewBag.Title = "Your Cards";
}

@if(Model.Cards.Any())
{ 
    <h2>Your Cards</h2>   
    @foreach(CardViewModel card in Model.Cards)
    {
        <partial name="/Views/Cards/_Thumbnail.cshtml" model="card" />
        <div class="card-actions">
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@card.CardId">Edit</a>
            <a class="btn btn-secondary" asp-action="Details" asp-route-id="@card.CardId">View</a>
            @if(card.IsPublished)
            {
                <span class="alert alert-success">Published</span>
            }
            else
            {
                <span class="alert alert-warning">Not published!</span>
            }
        </div>
    }
}
else
{
    <p class="alert alert-info">
        You don't have any cards yet. <a asp-controller="Cards" asp-action="New" class="btn btn-primary">Create one now</a>
    </p>
}