@using digicard.Models.UI.Page.Cards
@model CardsNewPageModel

<div class="container">
    <h2 class="mt-4 text-center">Create a New Card</h2>

    <div class='row m-0'>
        @await Html.PartialAsync("~/Views/Shared/_Errors.cshtml", Model)
        @await Html.PartialAsync("~/Views/Shared/_Alerts.cshtml", Model)
    </div>

	<form asp-controller="Cards" asp-action="New" asp-method="Post" class="p-3 mt-3">
        <h3 class="">Card Details</h3>
        <div class="row border-top">
            <div class="col-12 mt-3 form-group">
                <label asp-for="NewCard.NameOnCard">Name</label>
                <input type="text" asp-for="NewCard.NameOnCard" class="form-control" />
                @Html.ValidationMessageFor(m => m.NewCard.NameOnCard, "", new { @class = "text-danger" })
            </div>

            <div class="col-12 mt-3 form-group">
                <label asp-for="NewCard.Description">Description</label>
                <textarea asp-for="NewCard.Description" class="form-control"></textarea>
                @Html.ValidationMessageFor(m => m.NewCard.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <h3 class="mt-5">Contact Details</h3>
        <div class="row border-top">
            <div class="col-12 col-md-6 mt-3 form-group">
                <label asp-for="NewCard.Mobile">Mobile</label>
                <input type="text" asp-for="NewCard.Mobile" class="form-control" />
                @Html.ValidationMessageFor(m => m.NewCard.Mobile, "", new { @class = "text-danger" })
            </div>

            <div class="col-12 col-md-6 mt-3 form-group">
                <label asp-for="NewCard.Landline">Landline</label>
                <input type="text" asp-for="NewCard.Landline" class="form-control" />
                @Html.ValidationMessageFor(m => m.NewCard.Landline, "", new { @class = "text-danger" })
            </div>

            <div class="col-12 col-md-6 mt-3 form-group">
                <label asp-for="NewCard.Email">Email</label>
                <input type="email" asp-for="NewCard.Email" class="form-control" />
                @Html.ValidationMessageFor(m => m.NewCard.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <h3 class="mt-5">Address Details</h3>
        <div class="row border-top">
            <div class="col-12 col-md-6 mt-3 form-group">
                <label asp-for="NewCard.AddressLine1">AddressLine1</label>
                <input type="text" asp-for="NewCard.AddressLine1" class="form-control" />
                @Html.ValidationMessageFor(m => m.NewCard.AddressLine1, "", new { @class = "text-danger" })
            </div>

            <div class="col-12 col-md-6 mt-3 form-group">
                <label asp-for="NewCard.AddressLine2">AddressLine2</label>
                <input type="text" asp-for="NewCard.AddressLine2" class="form-control" />
                @Html.ValidationMessageFor(m => m.NewCard.AddressLine2, "", new { @class = "text-danger" })
            </div>

            <div class="col-12 col-md-6 mt-3 form-group">
                <label asp-for="NewCard.AddressLine3">AddressLine3</label>
                <input type="text" asp-for="NewCard.AddressLine3" class="form-control" />
                @Html.ValidationMessageFor(m => m.NewCard.AddressLine3, "", new { @class = "text-danger" })
            </div>

            <div class="col-12 col-md-6 mt-3 form-group">
                <label asp-for="NewCard.PostCode">PostCode</label>
                <input type="text" asp-for="NewCard.PostCode" class="form-control" />
                @Html.ValidationMessageFor(m => m.NewCard.PostCode, "", new { @class = "text-danger" })
            </div>

            <div class="col-12 col-md-6 mt-3 form-group">
                <label asp-for="NewCard.Country">Country</label>
                <input type="text" asp-for="NewCard.Country" class="form-control" />
                @Html.ValidationMessageFor(m => m.NewCard.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <h3 class="mt-5">Social Media</h3>
        <div class="row border-top">
            <div class="col-12 col-md-6 mt-3 form-group">
                <label asp-for="NewCard.Facebook">Facebook</label>
                <input type="text" asp-for="NewCard.Facebook" class="form-control" />
                @Html.ValidationMessageFor(m => m.NewCard.Facebook, "", new { @class = "text-danger" })
            </div>

            <div class="col-12 col-md-6 mt-3 form-group">
                <label asp-for="NewCard.Twitter">Twitter</label>
                <input type="text" asp-for="NewCard.Twitter" class="form-control" />
                @Html.ValidationMessageFor(m => m.NewCard.Twitter, "", new { @class = "text-danger" })
            </div>

            <div class="col-12 col-md-6 mt-3 form-group">
                <label asp-for="NewCard.Instagram">Instagram</label>
                <input type="text" asp-for="NewCard.Instagram" class="form-control" />
                @Html.ValidationMessageFor(m => m.NewCard.Instagram, "", new { @class = "text-danger" })
            </div>
        </div>

        <h3 class="mt-5">Custom Domain</h3>
        <div class="row border-top">
            <div class="col-12 col-md-6 mt-3 form-group">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="col-12 col-md-6 mt-3 form-group">
                <label asp-for="NewCard.Domain">Domain</label>
                <input type="text" asp-for="NewCard.Domain" class="form-control" />
                @Html.ValidationMessageFor(m => m.NewCard.Domain, "", new { @class = "text-danger" })
            </div>
        </div>

        <h3 class="mt-5">Publish</h3>
        <div class="row border-top">
            <div class="col-12 col-md-6 mt-3 form-group">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>


            <div class="col-12 col-md-6 mt-3 custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" asp-for="NewCard.IsPublished">
                <label class="custom-control-label" asp-for="NewCard.IsPublished">Publish Now</label>
            </div>
        </div>

		<div class="form-row d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
