@using digicard.Models.UI.Page.Authentication
@model LoginPageModel
@{
    ViewBag.Title = "Login";
}

<div class="container mt-5">
    <div class="card col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
        <div class="card-header">
            <h2 class="card-title m-0">Log In</h2>
        </div>

        <div class="card-body">
            <form asp-action="Login" asp-controller="Authentication" asp-method="Post">
                <div class="form-group">
                    <label asp-for="EmailAddress">Email Address</label>
                    <input type="email" asp-for="EmailAddress" class="form-control mb-3" />
                    @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input type="password" asp-for="Password" class="form-control mb-3" />
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <div class="d-flex flex-column justify-content-end mt-4">
                    <div class="btn-group" role="group" aria-label="Button Group">
                        <a asp-controller="Authentication" asp-action="Register" class="btn btn-secondary w-50">Create Account</a>
                        <button type="submit" class="btn btn-primary w-50">Sign In</button>
                    </div>

                    <div class="d-flex justify-content-end mt-3">
                        <a asp-controller="Authentication" asp-action="StartPasswordReset">Forgotten your password?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
