@using digicard.Models.UI.Page.Authentication
@model StartPasswordResetPageModel
@{ 
    ViewBag.Title = "Password Reset"; 
}

<div class="container mt-5">
    <div class="card col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
        <div class="card-header">
            <h2 class="card-title m-0">Recover Your Password</h2>
        </div>

        <div class="card-body">
            <div class='row m-0'>
                @await Html.PartialAsync("~/Views/Shared/_Errors.cshtml", Model)
                @await Html.PartialAsync("~/Views/Shared/_Alerts.cshtml", Model)
            </div>

            <form asp-controller="Authentication" asp-action="StartPasswordReset" method="post">
                <div class="form-group">
                    <label asp-for="EmailAddress">Email Address</label>
                    <input type="email" asp-for="EmailAddress" class="form-control" />
                    @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
                </div>

                <div class="d-flex flex-column justify-content-end mt-4">
                    <div class="btn-group" role="group" aria-label="Button Group">
                        <a asp-controller="Authentication" asp-action="Login" class="btn btn-secondary w-50">Cancel</a>
                        <button type="submit" class="btn btn-primary w-50">Start Recovery</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
