@using digicard.Models.UI.Page.Content
@using digicard.Models.UI.View.Cards

@model ContentIndexPageModel
@{
    ViewBag.Title = "Digicard!";
}

<h6>vaga tech</h6>
<h6>code.je</h6>
<h1>WELCOME</h1>
<h1>TO</h1>
<h1>DIGICARD</h1>
<h1>USER</h1>
<h2>yes digital cards!!!!</h2>
<p>yes i kowe digital cards how crazy but awesome.</p>
<a href='/Authentication/Register'>sign up now!!!!!!!!</a>





@if(Model.Examples.Any())
{ 
    <h2>Look at these Cards!</h2>   
    <div class="card-list">
        @foreach(CardViewModel card in Model.Examples)
        {
            <partial name="/Views/Cards/_Thumbnail.cshtml" model="card" />
        }        
    </div>
}
