@using digicard.Models.UI.Page.Accounts
@model AccountsNewPageModel

<div class="container">
	<form asp-action="Register" asp-controller="Accounts" asp-method="Post">
        <div class="form-group">
            <label asp-for="NewAccount.Name">Name</label>
            <input type="text" asp-for="NewAccount.Name" class="form-control" />
            @Html.ValidationMessageFor(m => m.NewAccount.Name, "", new { @class = "text-danger" })
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" asp-controller="Accounts" asp-action="New" class="btn btn-primary mt-3">Create Account</button>
            </div>
        </div>
    </form>
</div>
